.body {
  background-color: rgb(18, 200, 200);
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

}

.container {
  position: relative;
  background-color: rgb(44, 34, 34);
  width: 85%;
  height: 85%;
  border-radius: 30px;
}

.container .musicLeft {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  position: absolute;
  left: 0;
  width: 20%;
  height: 100%;
  background-color: black;
  border-radius: 30px;
}

.musicLeft .logo {
  position: absolute;
  border-radius: 30px 0px 0px 0px;
  width: 100%;
  height: 10%;
  background-color: rgb(171, 183, 148);
  top: 0;
}

.musicLeft .menu {
  position: absolute;
  width: 100%;
  top: 20%;
  height: 30%;
  background-color: green;
}


.musicLeft .fav {
  position: absolute;
  width: 100%;
  height: 10%;
  bottom: 30%;
  background-color: blue;
}

.musicLeft .playlist {
  position: absolute;
  width: 100%;
  bottom: 0;
  height: 25%;
  background-color: rgb(60, 60, 52);
  border-radius: 0px 0px 0px 30px;

}

.iconName {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  gap: 10%;
  margin: 10%;
  align-content: center;
}

.container .musicRight {
  position: absolute;
  right: 0;
  width: 80%;
  height: 100%;
  border-radius: 0px 30px 30px 0px;
  background-color: rgba(0, 0, 255, 0.165);
}

.headder {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  width: 100%;
  height: 15%;
  /* background-color: brown; */
}

.headder .searchs {
  width: 60%;
  background-color: wheat;
  height: 100%;
  left: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
}

.searchs .songSearch {
  width: 30%;
  left: 5%;
  height: 30%;
  position: absolute;
  outline: none;
  border-radius: 10px;
  border: none;
  font-size: 1rem;
  text-align: center;
}

.headder .profile {
  right: 0;
  border-radius: 0px 30px 0 0;
  background-color: rgb(142, 63, 142);
  height: 100%;
  width: 40%;
}

.profile .profiles {
  position: absolute;
  width: 20%;
  height: 50%;
  top: 25%;
  right: 5%;
  border-radius: 50px;
  background-color: rgb(75, 97, 118);
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
}

.profiles .image {
  position: absolute;
  width: 23%;
  left: 2%;
  height: auto;
  border-radius: 50%;
}

.musicRight .recentPlay {
  position: relative;
  width: 100%;
  height: 40%;
  background-color: rgb(48, 62, 55);
}

.searchDetails {
  position: relative;
  width: 100%;
  height: 72.3dvh;
  /* background: rgb(2,0,36);
  background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%); */
  background: linear-gradient(-45deg, #95ada1, #7e8a87, #526b60, #275f44);
  background-size: 400% 400%;
  animation: searchdetails 15s ease infinite;
  z-index: 1;
  overflow: scroll;
  border-radius: 0 0 30px 0;

}

@keyframes searchdetails {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.gridContainer {
  position: relative;
  right: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  background-image: url("../../.././../public/song.jpg");
  background-size: 100% 100%;
  /* justify-content: center; */
}

.gridLeft {
  overflow: scroll;
  position: absolute;
  left: 0;
  width: 70%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}

.gridRight {
  position: absolute;
  right: 0;
  width: 30%;
  background-color: rgba(183, 255, 0, 0.35);
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}

.gridRightBottom {
  background-color: rgba(0, 255, 128, 0.366);
  width: 100%;
  height: 20%;
  bottom: 0;
  position: absolute;
  overflow: hidden;
}

.gridColumn {
  flex: 1;
}


.searchImages {
  width: 11dvw;
  height: 100dvh;
  height: auto;
  margin: 10px;
  border-radius: 50%;
  box-shadow: 0px 0px 10px 3px rgb(0, 0, 0);
  /* background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab); */

  /* box-shadow:0px 0px 2px 10px fade(#fff,80%); */
  /* background-color: rgb(39, 45, 26); */
}


.searchImages:hover {
  width: 11dvw;
  height: 100dvh;
  height: auto;
  margin: 10px;
  border-radius: 50%;
  background: transparent;
  /* border: 1px solid white; */
  /* box-shadow: inset 0px 0px 20px black; */
  transition: transform 2s;
  transform: scale(1.05);
  /* transform: scale(2); */
}




.musicRight .trandings {
  background-color: sandybrown;
  width: 50%;
  height: 30%;
  left: 0;
  position: absolute;
}

.musicRight .topPlaylist {
  width: 50%;
  height: 30%;
  overflow: scroll;
  position: absolute;
  right: 0;
  background-color: rgb(44, 29, 27);
}

.musicRight .bottomPlayList {
  position: absolute;
  width: 100%;
  height: 15%;
  background-color: rgb(33, 26, 13);
  bottom: 0;
  display: flex;
  flex-wrap: wrap;
  border-radius: 0 0 30px 0;

  flex-direction: column;
}

.bottomPlayList .currentPlay {
  width: 25%;
  height: 100%;
  background-color: rgb(103, 72, 77);
}

.bottomPlayList .currentControls {
  width: 30%;
  height: 100%;
  background-color: rgb(25, 28, 39);
  position: absolute;
  left: 35%;
}

.bottomPlayList .volume {
  position: absolute;
  right: 0;
  width: 30%;
  height: 100%;
  background-color: rgb(83, 68, 45);
  border-radius: 0 0 30px 0;
}

.albumImage {
  width: 300px;
  height: 300px;
}