.socialMedia {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    justify-content: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 8%;
    background-color: rgb(233, 206, 206);
}



.socialMedia {
    display: flex;
}

.animation {
    width: 2.5vw;
    height: 5vh;
    margin: 0 5px;
}

.socialMedia a {
    display: inline-block;
}