.body2{
    background-color: rgb(121, 110, 110);
    color: white; /* Add text color */
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center; /* Center content vertically */
    justify-content: center; /* Center content horizontally */
}